$def with (name, str1, skus, pages, STATUS)

$var title: 品系管理
$var css:
$var js:
$var name: $'|'.join(str1) $name
$var load: 
$var menu: #grup3


<div class="caption"><h2>品系管理</h2></div>

<p><a class="abtn" href="/grp_admin/bloodline_edit">添加新品系</a></p>

<table class="props_tb">
<thead>
    <tr class="even">
        <th width="25%">基因名</th>
        <th>品系名</th>
        <th>状态</th>
        <th>责任人</th>
        <th>品系说明</th>
        <th width="15%">实验员备注</th>
    </tr>
</thead>
<tbody>

$for u in skus:
    <tr>
        <td><a href="/grp_admin/bloodline_edit?blood_id=$u['_id']">$u['blood_code']</a></td>
        <td><a href="/grp_admin/bloodline_edit?blood_id=$u['_id']&field=name">$u.get('name','n/a')</a></td>
        <td>
            $if u.has_key('status'):
                <a href="/grp_admin/bloodline_edit?blood_id=$u['_id']&field=status">$STATUS[u['status']]</a>
        </td>
        <td><a href="/grp_admin/bloodline_edit?blood_id=$u['_id']&field=owner_user">$u.get('owner_user','')</a></td>
        <td><a href="/grp_admin/bloodline_edit?blood_id=$u['_id']&field=note">$u.get('note','')</a></td>
        <td><a class="abtn" href="/query/bloodline_comment?blood_id=$u['_id']">查看</a></td>
    </tr>
</tbody>
</table>

<br/>
<div class="article_box">
        页码：
        $for x in pages:
                <a href="/grp_admin/bloodline?page=$x">$(x+1)</a>&nbsp;&nbsp;
</div>
