$def with (name, str1, sku, users, type_list)

$var title: 鼠笼管理
$var css: /static/css/jquery.datetimepicker.css
$var name: $'|'.join(str1) $name
$var js: /static/js/jquery.datetimepicker.js
$var load: date_init();
$var menu: #grup3

<script type="text/javascript">
/*初始化时间控件*/
function date_init(){
    $$('#appoint_expired_d').datetimepicker({
        format     : 'Ymd', 
        timepicker : false,
    });
}
</script>

<div class="caption"><h2>设置预分配用户，笼架：$sku['shelf_id']</h2></div>

<form name="new_sku" id="new_sku" method="post" action="/grp_admin/shelf_appoint">
<input type="hidden" name="shelf_id" value="$sku['_id']"/>
<input type="hidden" name="shelf_id_id" value="$sku['shelf_id']"/>

<table class="props_tb">
<thead>
    <tr class="even">
        <th width="15%">项目</th>
        <th>内容</th>
        <th width="35%">说明</th>
    </tr>
</thead>
<tbody>


<tr><td>预分配的用户（可多选）</td><td>
        <span><select id="user_list" name="user_list" multiple="multiple" size="10" style="width:159px">
        $for k in users:
            <option value="$k['uname']"
            $if k['uname'] in sku.get('appoint',[]):
                selected="selected"
            >$k['uname'] ($k['full_name'])</option>
        </select></span>
    </td><td>预分配的用户在向鼠笼添加小鼠后即拥有鼠笼所有权</td></tr>

<tr><td>可用类型</td><td>
    $for x in type_list.keys():
        <input type="checkbox" name="type" value="$x"
        $if x in sku.get('appoint_type_list', []):
            checked="checked"
        /> $type_list[x]
    </td><td></td></tr>

<tr><td>到期时间</td><td>
    <input type="text"  value="$:sku.get('appoint_expired_d','')" id="appoint_expired_d" name="appoint_expired_d" readonly="readonly">
    </td><td>格式：yyyymmdd</td></tr>


</tbody></table>

<p><input type="submit" name="submit" id="submit" value="保存"/>
<input type="button" name="cancel" value="返回" onclick="history.go(-1);" /><p>
</form>


<br/>

