$def with (name, str1, expired=[], divided=[], today_d='', priv='')

$var title: 首页
$var css:
$var js: 
$var name: $'|'.join(str1) $name
$var load:
$var menu: #home

<div class="caption"><h2>mouse管理平台</h2></div>

<div class="mod_desc">
<p>欢迎使用管理平台！</p>
</div>
    
<dl class="feature">
	<dt>过期鼠笼</dt>
	$for i in expired:
		$if i.has_key('expired_d') and i['expired_d']!='':
			<dd>
				$if priv=='admin':
					<a href="/grp_admin/house_info?house_id=$i['house_id']&return_last=y"/>$i['house_id']</a>
				$else:
					<a href="/grp_user/house_info?house_id=$i['house_id']&return_last=y"/>$i['house_id']</a>
				，过期时间：$i['expired_d']
				$if i['expired_d']<today_d:
					<span style="color:#FF2300;">已过期</span>
				$else:
					<span style="color:#229954;">即将到期</span>
			</dd>
</dl>


<dl class="feature">
	<dt>未分笼小鼠</dt>
	$for i in divided:
		$if i.has_key('divide_d') and i['divide_d']!='':
			<dd>
				$if priv=='admin':
					<a href="/query/mice_info?mouse_id=$i['_id']"/>...$(str(i['_id'])[-6:])</a>
					，鼠笼：<a href="/grp_admin/house_info?house_id=$i['house_id']&return_last=y"/>$i['house_id']</a>
				$else:
					<a href="/grp_user/mice_info?mouse_id=$i['_id']"/>...$(str(i['_id'])[-6:])</a>
					，鼠笼：<a href="/grp_user/house_info?house_id=$i['house_id']&return_last=y"/>$i['house_id']</a>
				，计划分笼时间：$i['divide_d']
				$if i['divide_d']<today_d:
					<span style="color:#FF2300;">已过期</span>
				$else:
					<span style="color:#229954;">即将到期</span>
			</dd>
</dl>

<!--div class="article_box">
<div>???</div> 
</div-->

