$def with (name, str1, skus, pages, STATUS)

$var title: 品系列表
$var css:
$var js:
$var name: $'|'.join(str1) $name
$var load: 
$var menu: #qury2


<div class="caption"><h2>品系列表</h2></div>


<table class="props_tb">
<thead>
    <tr class="even">
        <th width="25%">品系编码</th>
        <th>品系名</th>
        <th>状态</th>
        <th>实验组</th>
        <th>责任人</th>
        <th>品系说明</th>
        <th>附件文件</th>
        <th>实验员备注</th>
    </tr>
</thead>
<tbody>

$for u in skus:
    <tr><td>$u['blood_code']</td>
    <td>$u.get('name','n/a')</td>
    <td>
        $if u.has_key('status'):
            $STATUS[u['status']]
        $else:
            n/a
    </td>
    <td>$u.get('group_id','n/a')</td>
    <td>$u.get('owner_user','')</td>
    <td>$u.get('note','')</td>
    <td>
        $for i in u.get('image_list',[]):
            <a href="/static/upload/$(i[0][:2])/$i[0]" target="_blank" />$i[1]</a><br/>
    </td>
    <td><a class="abtn" href="/query/bloodline_comment?blood_id=$u['blood_id']">查看</a>&nbsp;&nbsp;
        $if ('GROUP_USER' in str1) and (name in u['user_list']):
            <a class="abtn" href="/grp_user/bloodline_comment?blood_id=$u['blood_id']">添加备注</a></td>

    </tr>

</tbody>
</table>

<br/>
<div class="article_box">
        页码：
        $for x in pages:
                <a href="/query/bloodline?page=$x">$(x+1)</a>&nbsp;&nbsp;
</div>
