$def with (name, str1, skus, pages, STATUS)

$var title: 品系列表
$var css:
$var js:
$var name: $'|'.join(str1) $name
$var load: 
$var menu: #qury2


<div class="caption"><h2>品系列表</h2></div>


<table class="props_tb">
<thead>
  <tr class="even">
    <th width="30%">品系编号</th>
    <th>品系名</th>
    <th>状态</th>
    <th>实验组</th>
    <th width="15%">备注</th>
  </tr>
</thead>
<tbody>

$for u in skus:
  <tr><td>$u['blood_code']</td>
  <td>$u.get('name','n/a')</td>
  <td>
    $if u.has_key('status'):
      $STATUS[u['status']]
    $else:
      n/a
  </td>
  <td>$u.get('group_id','n/a')</td>
  <td>$u.get('note','')</td></tr>

</tbody>
</table>

<br/>
<div class="article_box">
    页码：
    $for x in pages:
        <a href="/query/bloodline?page=$x">$(x+1)</a>&nbsp;&nbsp;
</div>
