$def with (name, str1, skus, pages, group_name, uname_list, house_list, blood_list)

$var title: 小鼠信息检索
$var css:
$var js: /static/js/query_mice.js?v=1.0
$var name: $'|'.join(str1) $name
$var load: 
$var menu: #qury1


<div class="caption"><h2>小鼠信息检索</h2></div>

<div class="article_box">
  耳标：<input type="text" id="v_tag" value="" />
  品系：<select id='v_blood'>
    <option value=''>--请选择--</option>
    $for i in blood_list:
      <option value="$i">$i</option>
  </select>
  实验员：<select id='v_uname'>
    <option value=''>--请选择--</option>
    $for i in uname_list:
      <option value="$i">$i</option>
  </select>
  鼠笼：<select id='v_house'>
    <option value=''>--请选择--</option>
    $for i in house_list:
      <option value="$i">$i</option>
  </select>
  <input type="button" id="search" value="检索" />
</div>

<table class="props_tb">
<thead>
  <tr class="even">
    <th width="15%">系统编号</th>
    <th>耳标</th>
    <th>鼠笼位置</th>
    <th>品系</th>
    <th>实验员</th>
    <th>实验组</th>
    <th>状态</th>
  </tr>
</thead>
<tbody>

$for u in skus:
  <tr><td><a href="/query/mice_info?mouse_id=$u['_id']">...$(str(u['_id'])[-6:])</a></td>
  <td>$u.get('tag','n/a')</td>
  $if u.get('house_id','n/a')!='n/a':
    <td><a href="/query/house_info?house_id=$u['house_id']">$u.get('house_id','n/a')</a></td>
  $else:
    <td>$u.get('house_id','n/a')</td>
  <td>$u.get('blood_code','n/a')</td>
  <td>$u.get('owner_uname','')</td>
  <td>$group_name[u.get('group_id','')]</td>
  <td>$u.get('status','')</td>

</tbody>
</table>

<br/>
<div class="article_box">
    页码：
    $for x in pages:
        <a href="/grp_user/mice?page=$x">$(x+1)</a>&nbsp;&nbsp;
</div>
