$def with (name, str1, sku, house, blood_list, from_house, parent_gene)

$var title: 小鼠管理
$var css: /static/css/jquery.datetimepicker.css
$var name: $'|'.join(str1) $name
$var js: /static/js/jquery.datetimepicker.js
$var load: date_init();
$if from_house=='1':
    $var menu: #user1
$else:
    $var menu: #user2


<script type="text/javascript">
/*初始化时间控件*/
function date_init(){
    $$('#birth_d').datetimepicker({format: 'Ymd', timepicker:false});

    $$('#divide_d').datetimepicker({format: 'Ymd', timepicker:false});
}
</script>


$if sku['_id']=='n/a':
    <div class="caption"><h2>新增小鼠信息</h2></div>
$else:
    <div class="caption"><h2>修改小鼠信息</h2></div>

<form name="new_sku" id="new_sku" method="post" action="/grp_user/mice_edit">
<input type="hidden" name="mouse_id" value="$sku['_id']"/>
<input type="hidden" name="from_house" value="$from_house"/>

<table class="props_tb">
<thead>
    <tr class="even">
        <th>项目</th>
        <th width="40%">内容</th>
        <th>说明</th>
    </tr>
</thead>
<tbody>

<tr><td>系统编号</td><td>
    $sku['_id']
    </td><td></td></tr>

<tr><td>耳标</td><td>
    <input type="text" name="tag" id="tag" value="$sku.get('tag', '')"/>
    </td><td></td></tr>

<tr><td>母本耳标</td><td>
    <input type="text" name="mother_tag" id="mother_tag" value="$sku.get('mother_tag', '')"/>
    </td><td></td></tr>

<tr><td>父本耳标</td><td>
    <input type="text" name="father_tag" id="father_tag" value="$sku.get('father_tag', '')"/>
    </td><td></td></tr>

<tr><td>性别</td><td>
    <input type="radio" name="sex" value="M"
    $if sku.get('sex','')=='M':
        checked="checked"
    /> M
    <input type="radio" name="sex" value="F"
    $if sku.get('sex','')=='F':
        checked="checked"
    /> F
    </td><td>必填</td></tr>

<tr><td>出生日期</td><td>
    <input type="text"  value="$:sku.get('birth_d','')" id="birth_d" name="birth_d" readonly="readonly">
</td><td>必填</td></tr>

<tr><td>分笼日期</td><td>
    <input type="text"  value="$:sku.get('divide_d','')" id="divide_d" name="divide_d" readonly="readonly">
</td><td>必填</td></tr>

<tr><td>鼠笼位置</td><td>
    $if sku['_id']=='n/a' or sku.get('house_id') in ['', None]:
        <select name='house_id'>
            <option value=''>--请选择--</option>
            $for i in house:
                <option value="$i"
                    $if sku.get('house_id')==i:
                        selected="selected"
                >$i</option>
        </select>
    $else:
        $sku.get('house_id', '')
        <input type="hidden" name='house_id' value="$sku.get('house_id', '')" />
    </td><td>只能保存一次</td></tr>


<tr><td>小鼠品系</td><td>
    <select name='blood_code'>
        <option value=''>--请选择--</option>
        $for i in blood_list:
            <option value="$i['blood_code']"
                $if sku.get('blood_code')==i['blood_code']:
                    selected="selected"
            >$i['blood_code'] -- $i['status']</option>
        $if parent_gene is not []:
            <option value=''>--------</option>
            $for i in parent_gene:
                <option value="$i"
                    $if sku.get('blood_code')==i:
                        selected="selected"
                >$i</option>            
    </select>
    </td><td></td></tr>


<!--tr><td>基因型结果</td><td>
    <input type="text" name="gene_code" id="gene_code" value="$sku.get('gene_code', '')"/>
    </td><td></td></tr-->


<tr><td>备注</td><td>
    <textarea rows="3" name="note">$sku.get('note','')</textarea>
    </td><td></td></tr>


</tbody></table>


<p><input type="submit" name="submit" id="submit" value="保存"/>
<input type="button" name="cancel" value="返回" onclick="history.go(-1);" />
<p>

</form>


<div class="article_box">
  <div>操作日志：</div>
  <textarea rows="8" cols="80" id="history">
  $for h in sku.get('history',[]):
      $h[0]，用户：$h[1]，操作：$h[2]；
  </textarea>
</div>

<br/>

