$def with (name, str1, sku, uid_list, type_list, blood_list, mice, mouse_status)

$var title: 鼠笼管理
$var css: /static/css/jquery.datetimepicker.css
$var name: $'|'.join(str1) $name
$var js: /static/js/jquery.datetimepicker.js
$var load: date_init();
$var menu: #user1

<script type="text/javascript">
/*初始化时间控件*/
function date_init(){
    $$('#test_will_end_d').datetimepicker({format: 'Ymd', timepicker:false});
}
</script>


<div class="caption"><h2>鼠笼编辑 - 鼠笼 $sku['house_id']</h2></div>

<form name="new_sku" id="new_sku" method="post" action="/grp_user/house_edit">
<input type="hidden" name="house_id" value="$sku['house_id']"/>

<table class="props_tb">
<thead>
    <tr class="even">
        <th width="15%">项目</th>
        <th width="50%">内容</th>
        <th>说明</th>
    </tr>
</thead>
<tbody>
<tr><td>鼠笼编号</td><td>$sku['house_id']</td><td></td></tr>

<tr><td>所属实验员</td><td>
        $for k in uid_list:
            $if k['uname'] in sku.get('uname',''):
                $k['uname'] ($k['full_name'])
</td><td></td></tr>

<tr><td>鼠笼类型</td><td>
    $for x in sku.get('type_list', []):
        <input type="radio" name="type" value="$x"
        $if x in sku.get('type', ''):
            checked="checked"
        $if x=='test':
            onclick="$$('#test_will_end_row').show();" 
        $else:
            onclick="$$('#test_will_end_row').hide();" 
        /> $type_list[x]

</td><td></td></tr>


<!-- 实验笼属性 -->
$if sku.get('type', '')=='test':
    <tr><td>实验开始日期</td><td>
        $(sku.get('test_start_d','n/a'))
        </td><td>格式：yyyymmdd</td></tr>

<tr id="test_will_end_row"
$if sku.get('type', '')!='test':
    style="display: none;"
><td>预计结束日期</td><td>
    <input type="text"  value="$:sku.get('test_will_end_d','')" id="test_will_end_d" name="test_will_end_d" readonly="readonly">
    </td><td>格式：yyyymmdd</td></tr>

<!-- 共有属性 -->
<tr><td>小鼠列表</td><td>
    $for i in mice:
        $i['tag'] -- $i['sex'] -- $i['blood_code']
        <br/>
    </td><td></td></tr>

<tr><td>小鼠数量</td><td>
    $len(mice)
    </td><td></td></tr>

<tr><td>到期时间</td><td>
    $:sku.get('expired_d','')
</td><td>格式：yyyymmdd</td></tr>

<tr><td>状态</td><td>
    $if int(sku.get('status','0'))==1:
        在使用
    $if int(sku.get('status','0'))==0:
        停用
    </td><td>由管理员设置</td></tr>


</tbody></table>


<p><input type="submit" name="submit" id="submit" value="保存"/>
<input type="button" name="cancel" value="返回" onclick="history.go(-1);" /><p>
</form>


<div class="article_box">
  <div>操作日志：</div>
  <textarea rows="8" cols="80" id="history">
  $for h in sku.get('history',[]):
      $h[0]，用户：$h[1]，操作：$h[2]；
  </textarea>
</div>

<br/>

