$def with (name, str1, skus, pages)

$var title: 小鼠管理
$var css:
$var js:
$var name: $'|'.join(str1) $name
$var load: 
$var menu: #user2


<div class="caption"><h2>小鼠管理</h2></div>

<p><a class="abtn" href="/grp_user/mice_edit">添加小鼠信息</a>（正常繁殖的小鼠，请到所在鼠笼点击“新生小鼠”添加）</p>

<table class="props_tb">
<thead>
  <tr class="even">
    <th width="20%">系统编号</th>
    <th>耳标</th>
    <th>鼠笼位置</th>
    <th>品系/基因型</th>
    <th>出生日期</th>
    <th>状态</th>
    <th width="15%">备注</th>
  </tr>
</thead>
<tbody>

$for u in skus:
  <tr><td><a href="/grp_user/mice_edit?mouse_id=$u['_id']">...$(str(u['_id'])[-6:])</a></td>
  <td>$u.get('tag','n/a')</td>
  $if u.get('house_id','n/a')!='n/a':
    <td><a href="/grp_user/house_info?house_id=$u['house_id']&return_last=y">$u.get('house_id','n/a')</a></td>
  $else:
    <td>$u.get('house_id','n/a')</td>
  <td>$u.get('blood_code','n/a')</td>
  <td>$u.get('birth_d','n/a')</td>
  <td>$u.get('status','n/a')</td>
  <td>$u.get('note','')</td></tr>

</tbody>
</table>

<br/>
<div class="article_box">
    页码：
    $for x in pages:
        <a href="/grp_user/mice?page=$x">$(x+1)</a>&nbsp;&nbsp;
</div>
