$def with (name, str1, sku, uid_list, type_list, blood_list, mice, mouse_status)

$var title: 鼠笼管理
$var css: 
$var name: $'|'.join(str1) $name
$var js: 
$var load: 
$var menu: #user1

<div class="caption"><h2>鼠笼编辑 - 鼠笼 $sku['house_id']</h2></div>

<form name="new_sku" id="new_sku" method="post" action="/grp_user/house_edit">
<input type="hidden" name="house_id" value="$sku['house_id']"/>

<table class="props_tb">
<thead>
    <tr class="even">
        <th>项目</th>
        <th width="40%">内容</th>
        <th>说明</th>
    </tr>
</thead>
<tbody>
<tr><td>鼠笼编号</td><td>$sku['house_id']</td><td></td></tr>

<tr><td>所属实验员</td><td>
        $for k in uid_list:
            $if k['uname'] in sku.get('uname',''):
                $k['uname'] ($k['full_name'])
</td><td></td></tr>

<tr><td>鼠笼类型</td><td>
    $for x in sku.get('type_list', []):
        <input type="radio" name="type" value="$x"
        $if x in sku.get('type', ''):
            checked="checked"
        /> $type_list[x]
</td><td></td></tr>


<!-- 实验笼属性 -->
$if sku.get('type', '')=='test':
    <tr><td>实验开始日期</td><td>
        $(sku.get('test_start_d','n/a'))
        </td><td>格式：yyyymmdd</td></tr>

    <tr><td>预计结束日期</td><td>
        $(sku.get('test_end_d','n/a'))
        </td><td>格式：yyyymmdd</td></tr>

<!-- 共有属性 -->
<tr><td>小鼠品系</td><td>
    <select name='blood_code'>
        <option value=''>--请选择--</option>
        $for i in blood_list:
            <option value="$i['blood_code']"
                $if len(mice)>0 and mice[0]['blood_code']==i['blood_code']:
                    selected="selected"
            >$i['blood_code'] -- $i['status']</option>
    </select>
    </td><td></td></tr>

<tr><td>小鼠列表</td><td>
    $for i in mice:
        $i['tag'] ---- $i['sex'] ---- 
        $if mouse_status.has_key(i['status']):
            $mouse_status[i['status']]
        $else:
            未知状态
        <br/>
    </td><td></td></tr>

<tr><td>到期时间</td><td>
    $:sku.get('expired_d','')
</td><td>格式：yyyymmdd</td></tr>

<tr><td>状态</td><td>
    $if int(sku.get('status','0'))==1:
        在使用
    $if int(sku.get('status','0'))==0:
        停用
    </td><td>由管理员设置</td></tr>


</tbody></table>


<p><input type="submit" name="submit" id="submit" value="保存"/>
<input type="button" name="cancel" value="返回" onclick="history.go(-1);" /><p>
</form>


<div class="article_box">
  <div>操作日志：</div>
  <textarea rows="8" cols="80" id="history">
  $for h in sku.get('history',[]):
      $h[0]，用户：$h[1]，操作：$h[2]；
  </textarea>
</div>

<br/>

